@import '../../../../src/styles/variaveis';

.formContainer {
  .container {
    display: grid;
    row-gap: 20px;
    grid-template-areas:
      'nome email'
      'assunto assunto'
      'mensagem mensagem'
      'btn btn';
  }

  .name {
    grid-area: nome;
    margin-right: 20px;
  }

  .email {
    grid-area: email;
  }

  .assunto {
    grid-area: assunto;
    flex: 1;
  }

  .mensagem {
    grid-area: mensagem;
  }

  .name,
  .email,
  .assunto,
  .mensagem {
    p {
      font-family: $font-3;
      font-weight: 400;
      font-size: 14px;
      line-height: 0px;
      color: $c7;
    }

    input,
    textarea {
      font-family: $font-3;
      width: 100%;
      background-color: $c0;
      padding: 24px 22px 20px 16px;
      box-sizing: border-box;
      resize: none;
      border: none;
      border-radius: 5px;
      color: $c9;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #4b97c8, 0 0 0 3px $m1;
      }
    }
  }

  textArea {
    font-family: $font-3;
    font-weight: 400;
    font-size: 14px;
  }

  .btn {
    grid-area: btn;
    justify-self: flex-end;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    font: $font-3;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.2px;
    padding: 12px 36px;
    border-radius: 5px;
    border: 2px solid $m1;
    color: $c2 !important;
    background-color: $m1;

    &:hover {
      box-shadow: inset 500px 0 0 0 $c1;
      color: $m1 !important;
    }
  }

  .expand {
    width: 100%;
  }

  .loading {
    box-shadow: inset 500px 0 0 0 $c1;
    color: $m1 !important;
    cursor: wait;
    opacity: 0.5;

    &:hover {
      background-color: none;
    }
  }
}
