@import '../../../src/theme/variaveis';

.projetosContainer {
  background: $b0;
  margin: 0;
  padding: 112px 120px 0px;

  .wrapper {
    max-width: 120rem;
    margin: auto;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $c9;
      margin-top: 60px;
      margin-bottom: 80px;

      h1 {
        font-family: $font-3;
        font-weight: 600;
        font-size: 40px;
        line-height: 46px;
      }

      .separetor {
        display: block;
        height: 5px;
        width: 32px;
        border-radius: 5px;
        border: 1px solid $m3;
        background: $m3;
        margin: 0px;
      }

      .subtitle {
        font-family: $font-3;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        max-width: 80%;
        text-align: center;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .wrapperProjeto {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 2rem;
        margin-bottom: 40px;
        flex-wrap: wrap;

        .imageContainer {
          min-width: 200px;

          .image {
            flex: 1;
            display: block;
            width: 100%;
          }
        }

        .description {
          display: flex;
          flex-direction: column;

          h2 {
            margin: 0;
            font-size: 32px;
            line-height: 36px;
            text-transform: capitalize;
            font-family: $font-3;
            font-weight: 500;
            color: $c9;
          }

          p {
            font-family: $font-3;
            font-size: 16px;
            line-height: 22px;
            color: $c7;
            margin-bottom: 26px;
            font-weight: 400;
          }
        }
      }

      .seeMore {
        cursor: pointer;
        align-self: center;
        font-family: $font-3;
        font-size: 20px;
        line-height: 24px;
        color: $c9;
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
          color: $c10;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .projetosContainer {
    .wrapper {
      .title {
        margin-bottom: 40px;

        .subtitle {
          max-width: 100%;
        }
      }

      .content {
        .wrapperProjeto {
          grid-template-columns: 1fr;
          margin-bottom: 80px;
          justify-items: center;
          align-items: center;

          .description {
            align-items: center;

            h2 {
              text-align: center;
            }
            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .projetosContainer {
    .wrapper {
      .content {
        .wrapperProjeto {
          grid-gap: 0px;

          .description {
            margin-top: -14px;
          }
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .projetosContainer {
    padding: 80px 40px 0px;

    .wrapper {
      .content {
        .wrapperProjeto {
          margin-bottom: 20px;

          .description {
            margin-top: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .projetosContainer {
    .wrapper {
      .title {
        margin-bottom: 0px;
      }

      .content {
        .wrapperProjeto {
          .description {
            margin-top: -30px;

            h2 {
              font-size: 28px;
              line-height: 32px;
            }

            p {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .projetosContainer {
    .wrapper {
      .title {
        margin-bottom: -32px;
      }

      .content {
        .wrapperProjeto {
          margin-bottom: 0px;

          .description {
            margin-top: -60px;

            h2 {
              font-size: 24px;
              line-height: 30px;
            }

            p {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }

        .seeMore {
          margin-top: 32px;
        }
      }
    }
  }
}
