@import '../../../src/theme/variaveis';

.projetosContainer {
  background: $b0;
  margin: 0;
  padding: 112px 120px 16px 120px;

  .wrapper {
    max-width: 120rem;
    margin: auto;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $c9;
      margin-top: 60px;

      h1 {
        font-family: $font-3;
        font-weight: 600;
        font-size: 40px;
        line-height: 46px;
      }

      .separetor {
        display: block;
        height: 5px;
        width: 32px;
        border-radius: 5px;
        border: 1px solid $m1;
        background: $m1;
        margin: 0px;
      }

      .subtitle {
        font-family: $font-3;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        max-width: 80%;
        text-align: center;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .projetoContainer {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 5rem;
        margin-bottom: 60px;
        flex-wrap: wrap;

        .imageContainer {
          min-width: 200px;

          .image {
            flex: 1;
            display: block;
            width: 100%;
          }
        }

        .description {
          display: flex;
          flex-direction: column;

          h2 {
            margin: 0;
            line-height: 36px;
            text-transform: capitalize;
            font-family: $font-3;
            font-weight: 500;
            font-size: 32px;
            color: $c9;
          }

          p {
            font-family: $font-3;
            font-size: 16px;
            line-height: 22px;
            color: $c7;
            margin-bottom: 26px;
            font-weight: 400;
          }
        }
      }

      .seeMore {
        cursor: pointer;
        align-self: center;
        font-family: $font-3;
        font-size: 20px;
        line-height: 24px;
        color: $c9;
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
          color: $c10;
        }
      }
    }
  }
}
