
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; 
  background-color: #f1f7fb; 
  color: black; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
