@import '../../../src/theme/variaveis';

.contatoContainer {
  margin: 0;
  padding: 112px 120px 76px 120px;
  background-image: url('./../../../public/background/bgDown.svg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

  .sucessMessage {
    position: absolute;
    display: flex;
    flex: 1000;
    background-color: $c0;
    border-radius: 50px;
    top: 30%;
    width: 20%;
    height: 36%;
    padding: 12px 28px;
    font-family: $font-3;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 20%);
    animation: show-down 1s ease forwards, hide-down 1s ease forwards;
    animation-delay: 0s, 3.2s;

    .wrapperMessage {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .imageContainer {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
          width: 100%;
          height: auto;
          max-width: 100%;
          object-fit: cover;
        }
      }

      .thanks {
        margin: 20px 0 4px;
        color: $c10;
        font-size: 36px;
        line-height: 48px;
        font-weight: 600;
        text-align: center;
      }

      .sucess {
        margin: 0;
        color: $c9;
        font-size: 22px;
        line-height: 34px;
        text-align: center;
      }
    }
  }

  .wrapper {
    max-width: 120rem;
    margin: auto;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $c9;
      margin-bottom: 80px;

      h1 {
        font-family: $font-3;
        font-weight: 600;
        font-size: 40px;
        line-height: 46px;
      }

      .separetor {
        display: block;
        height: 5px;
        width: 32px;
        border-radius: 5px;
        border: 1px solid $m3;
        background: $m3;
        margin: 0px;
      }

      .subtitle {
        font-family: $font-3;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        max-width: 80%;
        text-align: center;
      }
    }

    .content {
      display: flex;
      justify-content: space-evenly;

      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;

        .about {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 12px;

          .icon {
            height: 58px;
            width: 46px;
            color: $m1;
          }

          .text {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
              margin: 0;
              font-family: $font-3;
              font-weight: 400;
              font-size: 20px;
              line-height: 14px;
              color: $c7;
            }

            p {
              margin: 0;
              font-family: $font-3;
              font-weight: 400;
              font-size: 18px;
              line-height: 12px;
              color: $c7;
            }
          }
        }
      }
    }
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes hide-down {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
}

@media (min-width: 2100px) {
  .contatoContainer {
    .sucessMessage {
      top: 30%;
      width: 24%;
      height: 46%;
      padding: 12px 28px;

      .imageContainer {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
          width: 100%;
          height: auto;
          max-width: 100%;
          object-fit: cover;
        }
      }

      .thanks {
        margin: 16px 0 6px;
        font-size: 36px;
        line-height: 48px;
      }

      .sucess {
        margin: 0;
        font-size: 22px;
        line-height: 34px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .contatoContainer {
    .sucessMessage {
      top: 34%;
      width: 28%;
      height: 36%;
      padding: 12px 28px;
    }
  }
}

@media (max-width: 1100px) {
  .contatoContainer {
    .sucessMessage {
      top: 36%;
      width: 32%;
      height: 34%;
      padding: 12px 28px;

      .wrapperMessage{
        .thanks {
          font-size: 26px;
          line-height: 38px;
        }
  
        .sucess {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }

    .wrapper {
      .title {
        margin-bottom: 60px;

        .subtitle {
          max-width: 100%;
        }
      }

      .content {
        flex-wrap: wrap;

        .info {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .contatoContainer {
    padding: 80px 40px 60px;

    .sucessMessage {
      top: 36%;
      width: 48%;
      height: 34%;
      padding: 12px 28px;
    }

    .wrapper {
      .title {
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: 500px) {
  .contatoContainer {
    padding: 80px 40px 60px;

    .sucessMessage {
      top: 36%;
      width: 58%;
      height: 30%;
      padding: 12px 28px;

      .wrapperMessage{
        .thanks {
          font-size: 22px;
          line-height: 34px;
        }
  
        .sucess {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .contatoContainer {
    padding: 80px 40px 60px;

    .sucessMessage {
      top: 36%;
      width: 60%;
      height: 28%;
      padding: 12px 28px;

      .wrapperMessage{
        .thanks {
          font-size: 20px;
          line-height: 32px;
        }
  
        .sucess {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}
