@import '../../../src/theme/variaveis';

.contatoContainer {
  margin: 0;
  padding: 112px 120px 76px 120px;
  background-image: url('./../../../public/background/bgDown.svg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper {
    max-width: 120rem;
    margin: auto;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $c9;
      margin-bottom: 80px;

      h1 {
        font-family: $font-3;
        font-weight: 600;
        font-size: 40px;
        line-height: 46px;
      }

      .separetor {
        display: block;
        height: 5px;
        width: 32px;
        border-radius: 5px;
        border: 1px solid $m1;
        background: $m1;
        margin: 0px;
      }

      .subtitle {
        font-family: $font-3;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        max-width: 80%;
        text-align: center;
      }
    }

    .content {
      display: flex;
      justify-content: space-evenly;

      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;

        .about {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          gap: 12px;

          .icon {
            height: 58px;
            width: 46px;
            color: $m1;
          }

          .text {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
              margin: 0;
              font-family: $font-3;
              font-weight: 400;
              font-size: 20px;
              line-height: 14px;
              color: $c7;
            }

            p {
              margin: 0;
              font-family: $font-3;
              font-weight: 400;
              font-size: 18px;
              line-height: 12px;
              color: $c7;
            }
          }
        }
      }
    }
  }
}
