@import '../../../src/theme/variaveis';

.formContainer {
  .contact {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      'nome email'
      'assunto assunto'
      'mensagem mensagem';

    column-gap: 32px;
  }

  .name {
    grid-area: nome;
  }

  .email {
    grid-area: email;
  }

  .assunto {
    grid-area: assunto;
    flex: 1;
  }

  .mensagem {
    grid-area: mensagem;
  }

  .name,
  .email,
  .assunto,
  .mensagem {
    p {
      // margin: 0;
      font-family: $font-2;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: $c7;
    }

    input {
      width: 100%;
      background-color: $c0;
      padding: 12px 20px auto 22px;
      box-sizing: border-box;
      resize: none;

      border: none;
      border-radius: 5px;
    }

    textArea {
      width: 100%;
    }
  }
}
