@import '../../../src/theme/variaveis';

.footerContainer {
  background-color: $b1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .wrapper {
    padding: 80px 200px 60px;
    display: grid;
    grid-template-areas:
      'me me  social'
      'direitos direitos  direitos';
    grid-template-columns: 32.5% 32.5% 35%;

    .me {
      grid-area: me;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .image {
        border-radius: 50%;
        align-self: flex-start;
      }

      .text {
        max-width: 70%;

        h5 {
          margin: 0;
          font-family: $font-3;
          font-size: 18px;
          font-weight: 400;
          color: $c2;
          text-transform: uppercase;
        }

        p {
          font-family: $font-3;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: $c2;
        }
      }
    }

    .social {
      grid-area: social;
      justify-self: flex-end;

      p {
        margin: 0 0 16px;
        font-family: $font-3;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: $c2;
        text-transform: uppercase;
      }

      .iconsSocial {
        display: flex;
        gap: 6px;

        svg {
          color: $c2;

          &:hover {
            transform: scale(1.2);
            cursor: pointer;
            color: $c3;
          }
        }
      }
    }

    .direitos {
      grid-area: direitos;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .separetor {
        margin: 40px 0px 20px;
        display: flex;
        align-self: flex-end;
        height: 0.1px;
        width: 100%;
        border-radius: 5px;
        background-color: $c2;
      }

      p {
        margin: 0px;
        font-family: $font-3;
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        color: $c2;
      }

      span {
        font-weight: 700;
      }

      .link {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .footerContainer {
    .wrapper {
      padding: 80px 100px 60px;
    }
  }
}

@media (max-width: 680px) {
  .footerContainer {
    .wrapper {
      padding: 60px 100px 40px;
      grid-template-columns: auto auto;
      grid-template-areas:
        'social social'
        'me me'
        'direitos direitos';

        .me{
          .image{
            display: none;
          }
        }

      .social {
        justify-self: flex-start;
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: 450px) {
  .footerContainer {
    .wrapper {
      padding: 60px 60px 40px;

      .direitos{
      align-items: flex-start;

      }
    }
  }
}
