// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

// Tons de cinza
$c0: #ffffff;
$c1: #f4f5f6;
$c2: #e8ebed;
$c3: #dee0e2;
$c4: #c1c4c8;
$c5: #aaaeb6;
$c6: #999ca4;
$c7: #73777d;
$c8: #5d616b;
$c9: #404447;
$c10: #242526;
$c11: #111111;
$c12: #000000;

// Cores principais
$m0: #dfeff9;
$m1: #3e80aa;
$m2: #225e84;
$m3: #8aa9bd;
$whats: #25d366;

// backgrounds
$b0: #f1f7fb;
$b1: #141414;
$bgradient0: rgba(223, 239, 249, 95%);
$bSocial: #eef6fb;

// Font
$font-1: 'Poppins';
$font-2: 'Roboto';
$font-3: "Source Sans 3", sans-serif;

// break points
$bp-01: 1200px;
$bp-01-01: 940px;
$bp-02: 710px;
$bp-02-02: 650px;
$bp-03: 450px;
