$b0: #262261;  
$b1: #17143F;  
$b1-2: rgba(23, 20, 63, 99%);
$b2: #5751CF;  
$b3: #FB7701;  
$b4: #F83903;  
$b5: #D2CFFA;  

$forms: rgba(251, 119, 1, .7);  

// color icon

$icon: #093B5A;

// Tons de cinza
$c0: #FFFFFF;
$c1: #F4F5F6;
$c2: #E8EBED;
$c3: #DEE0E2;
$c4: #C1C4C8;
$c5: #AAAEB6;
$c6: #999CA4;
$c7: #73777D;
$c8: #5D616B;
$c9: #404447;
$c10: #242526;
$c11: #111111;
$c12: #000;