@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

// Tons de cinza
$c0: #ffffff;
$c1: #f4f5f6;
$c2: #e8ebed;
$c3: #dee0e2;
$c4: #c1c4c8;
$c5: #aaaeb6;
$c6: #999ca4;
$c7: #73777d;
$c8: #5d616b;
$c9: #404447;
$c10: #242526;
$c11: #111111;
$c12: #000000;

// Cores principais
$m0: #DFEFF9;
$m1: #3E80AA;
$m2: #225E84;

// backgrounds
$b0: #f1f7fb;
$b1: #0e0e0e;
$bgradient0: rgba(223, 239, 249, 85%);
$bSocial: #EEF6FB;


// Font
$font-1: 'Poppins';
$font-2: 'Roboto';
