.homeContainer {
  // estilos existentes

  .messageContainer{
    position: fixed;
    bottom: 88px;
    left: 20px;
    width: 360px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25d366;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    display: grid;
    flex-direction: column;
    justify-content: center;

    .close{
      display: block;
      position: absolute;
      top: 50%;
    left: 50%;
    }
  }

  .container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation: pulsate-container 1.5s infinite;
    cursor: pointer;

    &:hover {
      animation: none;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(37, 200, 102, 0.5);
      animation: pulsate 1.5s infinite;
    }

    .whatsIcon {
      position: relative;
      color: white;
      font-size: 36px;
      z-index: 1;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pulsate-container {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
