@import '../../../src/theme/variaveis';

.introContainer {
  position: relative;
  height: 100vh;
  background-image: url('./../../../public/background/bgUp.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper {
    height: 100%;
    top: 9%;
    display: grid;
    grid-template:
      'wrapperSocial intro intro' auto
      'wrapperSocial intro intro' auto
      'wrapperSocial scroll scroll' 10%;
    grid-auto-columns: 44px auto;
  }

  .wrapperSocial {
    grid-area: wrapperSocial;
    display: flex;
    justify-content: start;
    align-items: center;
    min-width: 44px;

    .social {
      display: flex;
      flex-direction: column;
      background: $bSocial;
      border-radius: 0 5px 5px 0;
      padding: 12px 4px 10px 4px;
      row-gap: 6px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 10%);

      a {
        color: $c11;
        transition: transform 0.8s;
        position: relative;
        margin: 0;

        :hover {
          color: $c10;
        }
      }
    }
  }

  .intro {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .textMain {
      max-width: 1040px;
      font-family: $font-1;

      p {
        margin: 0;
        font-size: 24px;
        line-height: 36px;

        &:first-child {
          animation: show-right 0.9s forwards;
        }
      }

      h1 {
        display: block;
        font-size: 64px;
        line-height: 72px;
        margin: 4px 0 10px 0;
        animation: show-right 0.9s forwards;
      }

      .description {
        margin: 0;
        font-size: 24px;
        line-height: 36px;
      }
    }

    .btns {
      display: flex;
      gap: 40px;
      margin-top: 20px;
      animation: show-down 1.2s forwards;
    }
  }

  .scroll {
    grid-area: scroll;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotate(-90deg);
    animation: slidein 1s infinite forwards;

    .arrow {
      transform: scale(1.5);
    }
  }

  @keyframes slidein {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}

// animação
@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(
      -30px,
      0,
      0
    ); /*Move o conteudo em 3 itens, eixo x; y; z*/
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// Animações

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(
      0,
      -30px,
      0
    ); /*Move o conteudo em 3 itens, eixo x; y; z*/
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 1200px) {
  .introContainer {
    .intro {
      .textMain {
        max-width: 840px;

        p {
          //   font-size: 24px;
          //   line-height: 36px;
          font-size: 18px;
          line-height: 26px;
        }

        h1 {
          //   font-size: 64px;
          //   line-height: 72px;
          font-size: 50px;
          line-height: 58px;
        }

        .description {
          font-size: 18px;
          line-height: 26px;
        }
      }
    }
  }
}
