@import '../../../src/styles/variaveis';

.expand {
  width: 100% !important;
}

.button {
  display: flex;
  flex-direction: row;
  font-family: $font-3;
  
  .standard {
    text-align: center;
    width: 100% !important;
    display: inline-block;
    cursor: pointer;
    padding: 16px 32px;
    font-size: 18px;
    letter-spacing: 1.2px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
  }

  .box {
    transition: ease-in-out 0.3s;
    border: 2px solid $m1;
    color: $c2 !important;
    background-color: $m1;

    &:hover {
      box-shadow: inset 500px 0 0 0 $c1;
      color: $m1 !important;
    }
  }

  .boxTransp {
    transition: ease-in-out 0.3s;
    border: 2px solid transparent;
    color: $m1 !important;

    &:hover {
      border: 2px solid $m1;
    }
  }

  .boxOutline {
    transition: ease-in-out 0.3s;
    border: 2px solid $m1;
    color: $m1 !important;

    &:hover {
      box-shadow: inset 300px 0 0 0 $m1;
      color: $c2 !important;
    }
  }
}

.medium {
  .box,
  .boxTransp,
  .boxOutline {
    font-size: 16px;
    padding: 14px 28px;
  }
}

.small {
  .box,
  .boxTransp,
  .boxOutline {
    font-size: 12px;
    padding: 12px 28px;
  }
}
