@import '../../../src/theme/variaveis';

.button {
  display: flex;
  flex-direction: row;
  font-family: $font-3;
  
  .box {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
    padding: 16px 32px;
    border-radius: 5px;
    border: 2px solid $m1;
    color: $c2 !important;
    background-color: $m1;

    &:hover {
      box-shadow: inset 300px 0 0 0 $c1;
      color: $m1 !important;
    }
  }

  .boxTransp{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 1.2px;
    padding: 16px 32px;
    border-radius: 5px;
    border: 2px solid transparent;
    color: $m1 !important;

    &:hover {
      border: 2px solid $m1;
    }
  }

  .boxOutline{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
    padding: 16px 32px;
    border-radius: 5px;
    border: 2px solid $m1;
    color: $m1 !important;

    &:hover {
      box-shadow: inset 300px 0 0 0 $m1;
      color: $c2 !important;
    }
  }
}

.medium{
  .box{
    font-size: 16px;
    line-height: 20px;
    padding: 14px 28px;
  }
}

.small{
  .box{
    font-size: 12px;
    line-height: 20px;
    padding: 12px 28px;
  }
}
