@import '../../../src/theme/variaveis';

.aboutContainer {
  background: $b0;
  margin: 0;
  padding: 112px 120px 76px 120px;

  .wrapper {
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $c9;

      h1 {
        font-family: $font-1;
        font-size: 48px;
        line-height: 56px;
      }

      .separetor {
        display: block;
        height: 5px;
        width: 32px;
        border-radius: 5px;
        border: 1px solid $m1;
        background: $m1;
        margin: 0px;
      }

      .subtitle {
        font-family: $font-2;
        font-size: 24px;
        line-height: 32px;
        max-width: 1107px;
        text-align: center;
      }
    }

    .content {
      margin-top: 80px;
      gap: 120px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .about {
        flex: 1;

        h2 {
          font-family: $font-1;
          font-size: 32px;
          line-height: 40px;
          font-weight: 600;
          color: $c9;
        }

        p {
          font-family: $font-2;
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
          color: $c7;

          .link {
            text-decoration: none;
            color: $m1;
            font-weight: 500;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .itens {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: end;

          .experience {
            display: flex;
            flex-direction: row;
            gap: 12px;

            .study {
              display: flex;
              flex-direction: column;
              gap: 10px;
              margin: 0px;

              .number {
                font-size: 16px;
                color: $c10;
                font-weight: 500;
                margin: 0;
              }

              .text {
                p {
                  font-size: 14px;
                  margin: 0px;
                }
              }
            }
          }
        }
      }

      .skills {
        flex: 1;

        h2 {
          font-family: $font-1;
          font-size: 32px;
          line-height: 40px;
          font-weight: 600;
          color: $c9;
        }

        .hardSkills {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 20px;

          span {
            background: $m1;
            color: $c2;
            padding: 8px 12px;

            font-family: $font-1;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;

            border: 1px solid $m1;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
