@import '../../../src/theme/variaveis';

.aboutContainer {
  background: $b0;
  margin: 0;
  padding: 112px 120px 76px 120px;

  .wrapper {
    max-width: 120rem;
    margin: auto;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $c9;
      margin-bottom: 80px;

      h1 {
        font-family: $font-3;
        font-weight: 600;
        font-size: 40px;
        line-height: 46px;
      }

      .separetor {
        display: block;
        height: 5px;
        width: 32px;
        border-radius: 5px;
        border: 1px solid $m3;
        background: $m3;
        margin: 0px;
      }

      .subtitle {
        font-family: $font-3;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        max-width: 80%;
        text-align: center;
      }
    }

    .content {
      gap: 120px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .about {
        flex: 1;
        h2 {
          font-family: $font-3;
          font-weight: 500;
          font-size: 32px;
          line-height: 40px;
          color: $c9;
        }

        p {
          font-family: $font-3;
          font-size: 18px;
          line-height: 28px;
          font-weight: 400;
          color: $c7;

          .bold {
            font-weight: 600;
            color: $c8;
          }

          .link {
            text-decoration: none;
            color: $m1;
            font-weight: 600;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .itens {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: end;

          .experience {
            display: flex;
            flex-direction: row;
            gap: 12px;

            .study {
              display: flex;
              flex-direction: column;
              margin: 0px;

              .number {
                font-size: 16px;
                color: $c10;
                font-weight: 500;
                margin: 0;
              }

              .text {
                p {
                  font-size: 14px;
                  margin: 0px;
                }
              }
            }
          }
        }
      }

      .skills {
        flex: 1;
        h2 {
          font-family: $font-3;
          font-weight: 500;
          font-size: 32px;
          line-height: 40px;
          color: $c9;
        }

        .hardSkills {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 12px;

          span {
            background: $m3;
            color: $c1;
            padding: 8px 12px;
            font-family: $font-3;
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            border-radius: 5px;
            // transition: 0.2s ease-in-out;

            &:hover {
              animation: shake .8s ease-in-out;

              cursor: grab;
            }
          }
        }
      }
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(-10deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 1100px) {
  .aboutContainer {
    .wrapper {
      .content {
        .about {
          p {
            font-size: 15px;
            line-height: 20px;
          }

          .itens {
            margin-top: 40px;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 940px) {
  .aboutContainer {
    .wrapper {
      .title {
        margin-bottom: 40px;

        .subtitle {
          max-width: 100%;
        }
      }
      .content {
        gap: 80px;
        flex-direction: column;

        .about {
          .itens {
            flex-direction: row;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .aboutContainer {
    padding: 80px 40px 0px;

    .wrapper {
      .title {
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: 450px) {
  .aboutContainer {
    padding: 60px 32px 0px 32px;

    .wrapper {
      .content {
        gap: 100px;

        .about {
          .itens {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }
}
