$font-Poppins: 'Poppins';
$font-Roboto: 'Roboto';

// Principal
$b1: #61B4E7;  
$b2: #4799CC;  
$b3: #225E84;  
$b4: #093B5A;  
$b5: #02253B;  

// color icon

$icon: #093B5A;

// Tons de cinza
$c0: #FFFFFF;
$c1: #F4F5F6;
$c2: #E8EBED;
$c3: #DEE0E2;
$c4: #C1C4C8;
$c5: #AAAEB6;
$c6: #999CA4;
$c7: #73777D;
$c8: #5D616B;
$c9: #404447;
$c10: #242526;
$c11: #111111;
$c12: #000;

// gradient
$start-light: rgba(9, 81, 126, 90);
$end-light: rgba(43, 131, 186, 100);

// Progess skills
$js: 69%;
$html: 69%;
$css: 69%;
$git: 69%;
$styled: 69%;
$type: 69%;
$react: 69%;

// URL SVGs
$js: '../../assets/tecnologias/js.svg';
$css: '../../assets/tecnologias/css.svg';
$html: '../../assets/tecnologias/html.svg';
$type: '../../assets/tecnologias/type.svg';
$react: '../../assets/tecnologias/react.svg';
$git: '../../assets/tecnologias/git.svg';
$sass: '../../assets/tecnologias/sass.svg';
$styled: '../../assets/tecnologias/styled.svg';

// Input color
$input-color: rgba(9, 59, 90, .5)